body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

#nav-container {
  width: 100%;
}

#Dashboard-chart {
  display: flex;
}

@media screen and (max-width: 722px) {
  #nav-container {
    width: 116%;
  }

  #sidebar-main-container {
    display: block;
  }

  #sidebar-container {
    width: 50%;
    height: 100%;
    overflow: visible;
  }

  #Dashboard-chart {
    display: block;
  }
}

@media screen and (min-width :723px) and (max-width: 1201px) {
  #nav-container {
    width: 100%;
  }

  #Dashboard-chart {
    display: flex;
    overflow: scroll;
  }
}