body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

#nav-container {
  width: 100%;
}

#Dashboard-chart {
  display: flex;
}

#DailyProjectWorkEntry-title-mobile {
  display: none;
}


@media screen and (max-width: 722px) {
  #nav-container {
    width: 102%;
  }

  #sidebar-main-container {
    display: block;
  }

  #sidebar-container {
    width: 30%;
    height: 100%;
    overflow: visible;
  }

  #Dashboard-chart {
    display: block;
  }

  #nav-container-div {
    display: flex;
    align-items: center;
  }

  #nav-username {
    display: none;
  }

  #Navbar-Mobile {
    margin: 0px -19px !important;
  }

  .dropdown-menu {
    left: -95px !important;
  }

  #DailyProjectWorkEntry-title-web {
    display: none;
  }

  #DailyProjectWorkEntry-title-mobile {
    display: inline-block;
  }

  .Activity_Detail_Mobile {
    padding: 2px !important;
  }

  #Activity_Summary_Search_Mobile {
    margin-top: 8px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width :723px) and (max-width: 1201px) {
  #nav-container {
    width: 100%;
  }

  #Dashboard-chart {
    display: flex;
    overflow: scroll;
  }
}