.bottom-border {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1890ff;
    outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.multiselectContainer {
    border: none;
    border-bottom: 1px solid #1890ff;
    outline: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.clientFiled {
    width: 90%;
    height: fit-content;
    margin-top: 27px;
}

.limithoursFiled {
    width: 100%;
    border: none;
    border: 1px solid #151a1f;
    padding-left: 10px;
}

.durationfield {
    width: 75%;
    height: fit-content;
    padding-right: 3px;
}

.durationdayfield {
    width: 90%;
    height: fit-content;
    padding-left: 2px;
    margin: auto;
}

.addMemberStyle {
    border-radius: 50%;
    cursor: pointer;
    color: #a40df1;
    width: 40px;
    height: 40px;
    outline: none;
}


@media screen and (max-width: 722px) {
    .AddMember-mobile-style {
        width: 100%;
        margin: 5px 0px !important;
    }

    #dprs_mobile-fields {
        margin-top: 1px !important;
        width: 100%;
    }

    .clientFiled {
        width: 80%;
        height: fit-content;
        margin-top: 10%;
    }

    .bottom-border {
        width: 100%;
        border: none;
        border-bottom: 1px solid #1890ff;
        outline: none;
    }

    .durationfield {
        width: 60%;
        height: fit-content;
        padding-right: 2px;
    }

    .durationdayfield {
        width: 90%;
        height: fit-content;
        padding-left: 1px;
    }

    .limitHour {
        width: 17rem;
    }

    .switchTrack {
        padding-left: 60px;
    }

    #Limit-Hour-Mobile{
        width: 100%;
    }


}

@media screen and (min-width :723px) and (max-width: 1201px) {
    .AddMember-mobile-style {
        width: 50%;
    }

    .clientFiled {
        width: 80%;
        height: fit-content;
        margin-top: 10%;
    }

    .bottom-border {
        width: 400px;
        border: none;
        border-bottom: 1px solid #1890ff;
        outline: none;
    }
}