* {
    margin: 0px;
    padding: -1px;
    text-decoration: none;
}

.link {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    margin-top: 2px;
    gap: 10px;
    transition: all 0.5s;
}

.linkmenu {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    gap: 10px;
    transition: all 0.5s;
}

.link:hover {
    background-color: rgb(13 110 253);
    color: white;
    transition: all 0.5s;
    border: 0.7px solid rgb(93, 93, 93);
    border-radius: 5px;
}

.active {
    border: 1px solid rgb(93, 93, 93);
    background-color: rgb(13 110 253);
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

main {
    width: 100%;
    background-color: #e4e6ee;
    color: rgb(0, 0, 0);
}

.top_section {
    align-items: center;
    padding: 2px 10px;
}

.bars {
    /* font-size: 25px; */
    margin-left: -5px;
    cursor: pointer;
}

.sidebar {
    color: rgb(8, 8, 8);
    height: 92vh;
    padding: 2px 5px;
    /* border: 1px solid rgb(69, 70, 69); */
    background-color: #ffffff;
    width: fit-content;
    font-size: medium;
    position: sticky;
    top: 59px;
}

.sidebar.open {
    width: 18%;
}

.link_text {
    font-size: 14px;
}

.sidebar-item {
    padding: 10px;
    display: block;
    color: black;
    margin-top: 2px;
    transition: all 0.5s;
    align-items: center;
}

.sidebar-item:hover {
    background-color: rgb(13 110 253);
    color: white;
    transition: all 0.5s;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 5px;
}

.sidebar-title {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

span {
    align-items: center;
    display: flex;
    gap: 10px;
}

/* .sidebar-title .toggle-btn {
    transition: all 0.5s;
} */
.sidebar-item.open .sidebar-title .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-content {
    padding-top: 5px;
    height: 0px;
    overflow: hidden;
}

.sidebar-item.open .sidebar-content {
    height: auto;
    /* background-color:  rgb(31, 31, 188); */
}

.sidebar-subconent {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 5px;
    font-weight: 500;
    display: block;
    color: rgb(12, 11, 11);
    margin-top: 2px;
    align-items: center;
    font-size: 12px;
}

.sidebar-subconent:hover {
    color: rgb(255, 255, 255);
}

.sidebar-subconent.active {
    border: none;
    background-color: rgb(13 110 253);
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

NavLink {
    border-bottom: 2px soild black;
}


/* Dashboard  */

.dashboard-item {
    padding: 10px;
    display: block;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    transition: all 0.5s;
    align-items: center;
    border-radius: 5px;
    font-size: medium;

}

.dashboard-item:hover {
    background-color: rgb(208, 225, 250);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 8px;
}

.dashboard-title {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #435899;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.dashboard-item.open .dashboard-title .toggle-btn {
    transform: rotate(180deg);
}

.dashboard-content {
    /* padding-top: 15px; */
    height: 0px;
    overflow: hidden;
}

.dashboard-item.open .dashboard-content {
    padding-top: 10px;
    height: auto;
    /* background-color:  rgb(31, 31, 188); */
}

.workHour-title {
    color: #435899;
    font-weight: bold;
}

.workHour-container {
    font-size: 13px;
}

@media screen and (max-width: 722px) {
    .sidebar.open {
        width: fit-content;
        position: fixed;
        top: auto;
    }

    #sidebar-main-container {
        width: 100%;
    }

    #sidebar-container {
        width: fit-content;
        margin: 0px;
        /* position: fixed;
        left: -70%; */
    }

    /* #Bar-logo-sidebar {
        display: none;
    }
 */


}