#label-forget {
    text-decoration: none;
    color: rgb(52, 1, 62);
}

.input-border {
    border: 1px solid black;
    padding: 9px;
    width: 100%;
}

.login-style {
    margin-top: 60px;
    align-items: flex-start;
    border: 1px solid black;
    background-color: #ffffff;
}

.bottom-border {
    width: 95%;
    border: none;
    border-bottom: 1px solid #1890ff;
    background-color: transparent;
    outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.addMemberStyle {
    border-radius: 50%;
    cursor: pointer;
    color: #a40df1;
    width: 40px;
    height: 40px;
    outline: none;
}

.profile-box-item {
    width: 30%;
    margin: 10px;
    margin-left: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
}

#login-div-mobileview {
    margin-top: 120px;
    width: 40%;
    padding: 45px;
}

#login-div-title {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

#forgotpassword-maindiv {
    margin-top: 11%;
    width: 550px;
    padding: 25px;
}

#resetpassword-main-div {
    margin: 110px;
    width: 45%;
    padding: 25px;
}

@media screen and (max-width: 722px) {
    .profile-box-item {
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
        background-color: #e8e8e8;
        border-radius: 10px;
    }

    #login-div-mobileview {
        margin-top: 120px;
        width: 85%;
        padding: 10px 13px;
    }

    #login-div-title {
        padding-bottom: 0.3rem !important;
    }

    #forgotpassword-maindiv {
        margin-top: 30%;
        width: 80%;
        padding: 10px;
    }

    #resetpassword-main-div {
        margin: 50px 0px;
        width: 90%;
    }
}